# Creating a managed Spark table
This notebook describes how to create a managed table from Spark. 
The table is created in the Synapse warehouse folder in your primary storage account. The table will be synchronized and available in Synapse SQL Pools.

In [18]:
sqlContext.sql('DROP TABLE cities') #-this works
#spark.sql('DROP TABLE movies2') #-this also works

StatementMeta(SampleSpark, 22, 18, Finished, Available)

DataFrame[]

In [19]:
# this gets created in the default(Spark) database
spark.sql("CREATE TABLE cities  (name STRING, population INT) USING PARQUET")

StatementMeta(SampleSpark, 22, 19, Finished, Available)

DataFrame[]

Insert a few rows into the table using a list of values.

In [20]:
spark.sql("INSERT INTO cities VALUES (\'Seattle\', 730400), (\'San Francisco\', 881549), (\'Beijing\', 21540000), (\'Bangalore\', 10540000)")

StatementMeta(SampleSpark, 22, 20, Finished, Available)

DataFrame[]

* Retrieve values back. Click on 'Chart' below to review the visualization.

In [21]:
display(spark.sql("SELECT * FROM cities ORDER BY name"))

StatementMeta(SampleSpark, 22, 21, Finished, Available)

SynapseWidget(Synapse.DataFrame, 46ea656f-1294-49f9-82ad-598c58a4bef5)

Drop the table. Please note the data will get deleted from the primary storage account associated with this workspace.

In [22]:
# spark.sql("DROP TABLE cities")

StatementMeta(SampleSpark, 22, 22, Finished, Available)